---
- name: install es
  hosts: es
  vars:
     es_api_basic_auth_username : "username"
     es_api_basic_auth_password : "password"
  roles:
    - role: elastic.elasticsearch
      es_instance_name: "es"

  post_tasks:
    - name: install nginx
      package:
       name: nginx
       state: present

    - name: delete default nginx conf
      file:
       state: absent
       path: /etc/nginx/sites-enabled/default

    - name: copy es nginx conf
      template:
       src: app.conf
       dest: /etc/nginx/sites-enabled/app.conf
       owner: root
       mode: "u=rw,g=r,o=r"

    - name: restart nginx
      service:
        name: nginx
        state: restarted

    - name: add variable
      shell: cat  /etc/environment | grep ES_PATH_CONF | wc -l
      register: eexists

    - name: set ES_PATH_CONF variable
      template:
       src: environment.j2
       dest: /etc/environment
       owner: root
       mode: "u=rw,g=r,o=r"
      when: eexists.stdout == "0"

    - name: Check if Package is installed
      shell: bash /usr/share/elasticsearch/bin/elasticsearch-plugin list | grep 'analysis-icu' | wc -l
      register: installed

    - name: install analysis-icu
      shell: ES_PATH_CONF=/etc/elasticsearch; bash /usr/share/elasticsearch/bin/elasticsearch-plugin install analysis-icu
      when: installed.stdout == "0"
