---
- name: install es
  hosts: all
  vars:
     es_api_basic_auth_username : "{{ subutai.user_variables.es_api_basic_auth_username }}"
     es_api_basic_auth_password : "{{ subutai.user_variables.es_api_basic_auth_password }}"
  roles:
    - role: elastic.elasticsearch
      es_instance_name: "wp"
