---
- name: install es
  hosts: es
  vars:
     es_api_basic_auth_username : "username"
     es_api_basic_auth_password : "password"
  roles:
    - role: elastic.elasticsearch
      es_instance_name: "es"

  post_tasks:
    - name: install nginx
      package:
       name: nginx
       state: present

    - name: delete default nginx conf
      file:
       state: absent
       path: /etc/nginx/sites-enabled/default

    - name: copy es nginx conf
      template:
       src: app.conf
       dest: /etc/nginx/sites-enabled/app.conf
       owner: root
       mode: "u=rw,g=r,o=r"

    - name: restart nginx
      service:
        name: nginx
        state: restarted
